#product-detail{
    #p-slider{
        width: 600px;
        height: 500px;
        object-fit: contain;
        cursor: pointer;
        border: 1px solid #aeb6bf;
    }
    .thumbnail{
        object-fit: cover;
        max-width: 100px;
        height: 80px;
        cursor: pointer;
        opacity: 0.5;
        margin: 5px;
        border: 2px solid #aeb6bf;
    }
    .thumbnail:hover{
        opacity: 1;
    }
    .active{
        opacity: 1;
    }    
    .socials{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .socials .btn{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        margin-right: 20px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        box-shadow: -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 3px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001;
        transition: box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
        transition: all 0.5s ease;
        color: rgba(42,52,84,1);
        text-decoration: none;
    }
    .socials .btn i{
        font-size: 22px;
        margin-top: 5px;
        margin-right: 5px;
    }    
    table tr td{
        padding-right: 30px;
        font-size: 22px;
    }
    .product-desc{
        border-top: 1px solid #d0d3d4;
        border-bottom: 1px solid #d0d3d4;
    }
    .product-desc i{
        font-size: 10px;
        margin-right: 5px;
        color: #d0d3d4;
    }
}